.Products {
}
.Products-container {
  width: 85%;
  /* position: relative; */
  margin: 0 auto;
}
.Products-header {
  background-color: var(--bg-blue);
  font-size: 28px;
  font-weight: 700;
  margin-top: 40px;
  padding: 15px;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.363);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  color: white;
  position: relative;
}
.Products-scrollable {
  background-color: white;
  /* height: 700px; */
  max-height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 380px));
  justify-content: center;
  column-gap: 10px;

  align-items: start;
  padding: 20px;
}
.Products-create {
  background-color: red;
  display: flex;
  justify-content: flex-end;
  width: max-content;
  width: 100%;
  grid-column: 1/-1;
  margin: 0 auto;
}
.Products-create svg {
  cursor: pointer;
}
.products-modal {
  opacity: 0;
  pointer-events: none;

  position: absolute;
  z-index: 999999;
  /* background-color: red; */
  width: 700px;
  max-width: 95%;
  height: 100vh;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}
.nav-toggler {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 100px;
  z-index: 99999;
  width: 50px;
  height: 40px;
  background-color: var(--bg-blue);
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  cursor: pointer;
}
.exit-modal {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 90%;
  top: 10%;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  z-index: 99999999;
  background-color: rgb(240, 240, 240);
  border: 1px solid black;
}
.nav-toggler::before {
  content: "";
  width: 30%;
  background-color: white;
  height: 3px;
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.nav-toggler::after {
  content: "";
  width: 30%;
  background-color: white;
  height: 3px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.products-modal.active {
  pointer-events: all;
  opacity: 1;
  position: absolute;
}
.products-modal.active + .exit-modal {
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 1328px) {
  .nav-toggler {
    opacity: 1;
    pointer-events: all;
  }
}
