.inventory-item {
  display: grid;
  grid-template-columns: 100px 1fr;

  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ccc;

  position: relative;
}
.inventory-item.edit-mode {
  border: 1px solid #0085ff;
}
.inventory-item.edit-mode::before {
  content: "Edit Mode";
  color: white;
  width: 100px;
  height: max-content;
  text-align: center;
  font-size: 12px;

  transform: rotate(-45deg);
  position: absolute;
  background-color: #0085ff;
  top: 15px;
  left: -25px;
}
.save-edit {
  display: blocks;
  color: #0085ff;
  font-size: 12px;
  font-weight: 600;
}
.inventory-item:not(:last-child) {
  margin-bottom: 10px;
}
.inventory-item-image {
  width: 100%;
  height: 140px;
}

.inventory-item-image img {
  width: 100%;
  height: 140px;
  /* height: 100%; */
  object-fit: cover;
}
.inventory-item-content {
  padding-left: 12px;
  padding-right: 25px;
  padding-top: 10px;
}
.inventory-item-content-title {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.inventory-item-content-title .title-edit {
  font-weight: 600;

  width: 240px;
  height: 105%;

  border: 1px solid #0085ff;
  outline: none;

  font-size: 12px;
  transition: 0.2s;
}
.inventory-item-content-title .price-edit {
  color: #18b600;
  font-weight: 500;
  width: 60px;
  text-align: center;
  border: 1px solid #0085ff;
  outline: none;
}
.inventory-item-btns {
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 5px;
  margin-top: 10px;
}
.inventory-item-btns button {
  /* background-color: pink; */
  padding: 2px;
}
.title-text {
  font-weight: 600;
}
/* [contenteditable="true"] {
  outline: none;

  border: 1px solid #0085ff;
  transition: 0.2s;
}
[contenteditable]:focus {
  background-color: rgba(233, 233, 255, 0.589);
  transition: 0.2s;
} */
.read-more {
  font-size: 12px;
  cursor: pointer;
}
.title-price {
  color: #18b600;
  font-weight: 500;
}
.inventory-item-content-description {
  height: 60px;
}
.inventory-item-content-description p {
  font-size: 12px;
}
.inventory-item-content-description textarea {
  width: 105%;
  height: 105%;
  resize: none; /* Disable resizing */
  overflow-y: hidden; /* Hide vertical scrollbar */
  border: 1px solid #0085ff;
  outline: none;
  /* padding: 10px; */
  font-size: 12px;
  transition: 0.2s;
}
.inventory-item-content-description textarea:focus {
  background-color: rgba(233, 233, 255, 0.589);
  transition: 0.2s;
}
